/*homepage*/
body{
    background-image: url('/img/backgroud-texture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.homepage .hero{
    background-image: url('/img/home page coverpage.jpg');
    background-size:cover;
    padding: 100px 0;
    color: white;
    text-align: center;
}
.order-button{
    background-color: #FF6500;
    border: none;
    color:white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 20px;
    display: inline-block;
}
.features{
    background-color: whitesmoke;
    padding: 50px 0;
    text-align:center;
}
.feature{
    padding: 20px;
}
.feature h3{
    color: #ff8a08;

}
.feature p{
    color: #666;
}
/*deals section*/
.deals{
    background-color: #ffffff;
    padding: 50px 0;
}
.deals h2{
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #333;
}
.deal{
    margin-bottom: 30px;
}
.deal img{
    border-radius: 10px;
    margin-bottom: 15px;
    max-width: 100%;
}
.deal h4{
    font-size: 1.5em;
    color: #333
}
.deal p{
    font-size: 1.2em;
    color: #ff600;
}
/*see more button*/
.see-more-button{
    background-color: #ff8a08;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 1px;
}
.see-more-button:hover{
    background-color: #ff6500;
    color: white;
}